/build/
/engine/script.tab.hpp
/engine/script.tab.cpp
/engine/script.lex.cpp
/engine/script.lex.hpp
Interpreter.dSYM/
Interpreter
test/test1.sc
test/nasl.sc
script/test1.sc
vs/.vs
vs/Debug
vs/Release
vs/x64

vs/*/Debug
vs/*/Release
vs/*/x64
*.user
